.progress-barr {
    width:90%;
    height: 20px;
    border-radius:10px ;
    background-color:#ffffff;
    margin-bottom: 1%;
}

.progress-bar-fill {
    height:100%;
    border-radius: 10px;
    background-color:#e8a627;
    transition: width 0.5s ease-out;
}

.label {
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
    color: aquamarine;
}

.progress{
    border: 0.5px solid grey;
}

.main{
    width: 100%;
    height: 100vh;
}
.regcontainer {
   width: 60%;
}
.welcometoflo{
    color:#0e5cc5;
    font-size: clamp(30px, 2vw, 42px);
    font-family:"DM Sans", sans-serif;
}

.wewouldlike {
    color:#0e5cc5;
    font-size: clamp(17px, 1vw, 27px);
    font-family:"Poppins", sans-serif;
}
.regFname,
.regMinitial,
.regLname,
.regcontact,
.regprevious,
.selectroledrop,
.selectstrand,
.selectyear {
    border:none;
    outline: none;
    padding:0.5%;
    background-color: transparent;
    font-family:"Poppins", sans-serif;
    font-size: clamp(12px, 1vw, 22px);
    border-bottom: 1px solid #0e5cc5;
    color: black;
}

.selectroledrop,
.selectstrand {
    border: 1px solid #0e5cc5;
}
.regreview{
    font-size: clamp(15px, 1.3vw, 27px);
}

input:focus{
    outline: none !important;
    border-top:none !important;
    border-left: none !important;
    border-right: none !important;
}
.regMinitial {
    width:10%;
}

.regFname,
.regLname {
    width: 35%;
}

.regnext1,
.regnext2,
.regprevious,
.regprevious2,
.regsubmit {
   color: white;
   background-color: #2169ac;
   border: none;
    font-size: clamp(11px, 1vw, 20px);
  
}

.regnext1:hover, .regnext2:hover, .regprevious:hover, .regprevious2:hover {
   background-color: #2f7ac0;
}

.roleselect, .regreview, .regconfirm {
    color: #0e5cc5;
}

.regprevious2 {
    color: white;
    background-color: #2169ac;
    border: none;

}

.regsubmit {
    background-color:rgb(100, 201, 0);
    color: white;
    border: none;
    padding: 0.4%;
    padding-left: 3%;
    padding-right: 3%;
}

.regsubmit:hover {
    background-color:rgb(121, 216, 25);
}

.circle1 {
    position: absolute;
    top: 70%;
    right: 75%;
    width: 550px;
    height: 550px;
    background-image: linear-gradient(80deg, #004097, #92e9fd);
    border-radius: 50%;
}

.circle2 {
    position: absolute;
    top: 62%;
    right: 80%;
    width: 600px;
    height: 600px;
    background-image: linear-gradient(350deg, #004097, #92e9fd);
    border-radius: 50%;
}
.imgcustomshow{
    
        width:40%;
        height:100vh;
        padding-top:2%;
        padding-bottom:2%;
      
}
@media (max-width: 768px) {
    .regcontainer {
            width: 100%;
            text-align: start;
        }
    
        .regFname,
        .regMinitial,
        .regLname,
        .regcontact {
            width: 50%;
            margin: 0% !important;
            margin-bottom: 8px !important;
            margin-left: 5px !important;
            margin-right: 5px !important;
        }
    
        .selectroledrop,
        .selectstrand {
            margin-bottom: 6px !important;
        }
    
        .textfields {
            align-items: start;
            padding: 0% !important;
        }
    
        .textfields2 {
            justify-content: start;
            padding: 0% !important;
        }
    .imgcustomshow{
        display: none;
    }
}
@media (max-width: 576px) {

    .regFname,
    .regMinitial,
    .regLname,
    .regcontact {
        width: 68%;
    }

}