.main{
  background-color: transparent;
  height:auto;
  display: flex;
  align-items: start;
  justify-content: center;
  height:90%;
  max-height: 90%;
  border-radius: 10px;
  padding: none;
  column-gap: 10px;
  align-self:center;
  
}
.inquiries{
  background-color: transparent;
  height:auto;
  display: flex;
  align-items: start;
  justify-content: center;
  height:auto;
  width: 100%;
  border-radius: 10px;
  padding: none;
  margin: none;
  column-gap: 10px;
  align-self:center;
  
}



.chat{
  width:70%;
  border:1px solid #004aad;
  height:36rem;
  background-color: #f1f7ff;
  border-radius: 23px;
}

.sidebar{
  width:30%;
  border:1px solid #004aad;
  height:36rem;
  background-color: #f1f7ff;
  border-radius: 23px;  
  
}
.chatcontainermain{
  height:70%;
  max-height: 70%;
}

.chatcontainer::-webkit-scrollbar {
  display: none;
}

.chatcontainer{
height:100%;
overflow-y: auto;
will-change: transform;

}
.messageselection{
  font-family:"DM Sans", sans-serif;
font-weight:bold;
  font-size: 25px;
  color:#212020;
}
.messages::-webkit-scrollbar {
  width: 8px;
  
}

.messages::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.messages::-webkit-scrollbar-thumb {
  background: #2169ac;
  border-radius: 10px;
}

.messages::-webkit-scrollbar-thumb:hover {
  background: #004aad;
}

.chat-button.active{
  background-color:#004aad;
  color:white;
  font-family:"Poppins", sans-serif;
  border-radius: 18px;
}

.chat-button {
  border-radius: 18px;
  background: transparent;
  border: 1px solid #2169ac;
  transition: background-color 0.3s, color 0.3s;
}
.form-controli{
  width: 15rem;
  border-radius: 7px;
  background-color: #dfe8f5;
  border: 1px solid #2169ac;
  color: black;
}

@media (max-width: 768px) {

  .sidebar {
    width: 100%;
    display: none;
    height: 100%; 
  }

  .chat{
      width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 425.9px){
  .form-controli{
    width:10rem ;
  }
}