.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}
.custom-scrollbar{
    width: 85%;
    height: 390px;
    overflow-Y: auto;
    overflow-X: hidden;
    gap:20px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Track color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 4px; 
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.custom-scrollbar1::-webkit-scrollbar, .custom-scrollbar2::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}
.custom-scrollbar1{
    width: 65%;
    height: 355px;
    overflow-Y: auto;
    overflow-X: hidden;
    gap:20px;
  
}

.custom-scrollbar2{
  width: 65%;
  height: 355px;
  overflow-Y: auto;
  overflow-X: hidden;
  gap:0px;

}

.custom-scrollbar1::-webkit-scrollbar-track, .custom-scrollbar2::-webkit-scrollbar-track {
  background: transparent; /* Track color */
}

.custom-scrollbar1::-webkit-scrollbar-thumb, .custom-scrollbar2::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 4px; 
}

.custom-scrollbar1::-webkit-scrollbar-thumb:hover, .custom-scrollbar2::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.fcolumn{
  width: 78%;
}
.stsdiv{
  width:30% !important;
  height:100%;

}
.pending-card{
  width:70% !important;
  height:100% !important;
}

.img-cat{
  width: 100px; 
  height: 100px; 
  padding:10px;
}
.details{
  width:70%;
  font-size: clamp(11.8px, 0.7rem, 17px);
 font-family: "Poppins", sans-serif;
}
.conimg{
  width: 30%;
}
.claim-top-text{
  width: 100%;
  justify-content: space-evenly;
}
.countdiv{
  width:15%;
}
.claim-top-text-text{
  width: 70%;
}
.r-btn{
  width: 85%;
}
/*queries*/
.modal-custom{

    width:48%;
    border:1px solid #2169ac;
    color:#2169ac;
    border-radius:5px;

}
@media (min-width: 768px ) and (max-width: 991px){
  .pending-card{
      width:98% !important;
  }
  .modal-custom{
    width: 100%;
  }
  .img-cat{
      width: 80px; 
      height: 80px; 
      padding:5px;
    }
    .stsdiv{
      width:100% !important;
    }
    .custom-scrollbar::-webkit-scrollbar {
      width: 7px; /* Width of the scrollbar */
    }
    .custom-scrollbar{
      width:100%;
    }
    .claim-top-text{
      width: 100%;
      justify-content: center;
    }
    .countdiv{
      width:30%;
    }
    .claim-top-text-text{
      width: 70%;
    }
    .custom-scrollbar1, .custom-scrollbar2{
      width: 100%;
    
  }
  .r-btn{
    width: 100%;
  }
} 

@media (min-width: 576px) and (max-width:767px ){
  .pending-card{
      width:99% !important;
     
  }
  .img-cat{
    width: 70px; 
    height: 70px; 
    padding:5px;
  }
  .stsdiv{
    width:100% !important;
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px; /* Width of the scrollbar */
  }
  .custom-scrollbar{
    width:100%;
  }
  .card-main{
    flex-direction: column;
    padding-bottom:0px !important;
  }
  .card-button{
    padding-top: 12px;
    padding-bottom: 13px;
  } 
  .details{
    width: 80%;
  }
  .fcolumn{
    width:100%;
  }
  .conimg{
    width:20%;
  }
  .claim-top-text{
    width: 100%;
    justify-content: space-between;
  }
  .countdiv{
    width:30%;
  }
  .claim-top-text-text{
    width: 60%;
  }
  .custom-scrollbar1, .custom-scrollbar2{
    width: 100%;
  
}
  .r-btn{
    width: 100%;
  }
}

@media (min-width: 426px) and (max-width:575.9px ){
  .pending-card{
      width:98% !important;
  }
  .img-cat{
    width: 65px; 
    height: 65px; 
    padding:5px;
  }
  .stsdiv{
    width:100% !important;
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
  }
  .custom-scrollbar{
    width:100%;
  }
  .card-main{
    flex-direction: column;
    padding-bottom:0px !important;
  }
  .card-button{
    padding-top: 12px;
    padding-bottom: 13px;
    margin-right:0px;
  } 
  .details{
    width: 80%;
  }
  .fcolumn{
    width:100%;
  }
  .conimg{
    width:20%;
  }
  .claim-top-text{
    width: 100%;
    justify-content: space-between;
  }
  .countdiv{
    display: none;
  }
  .claim-top-text-text{
    width: 100%;
  }
  .custom-scrollbar1, .custom-scrollbar2{
    width: 100%;
  
}
.r-btn{
  width: 100%;
}
}

@media (max-width: 425.9px){
  .pending-card{
      width:98% !important;
  }
  .img-cat{
    width: 50px; 
    height: 50px; 
    padding:0px;
  }
  .stsdiv{
    width:100% !important;
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
  }
  .custom-scrollbar{
    width:100%;
  }
  .card-main{
    flex-direction: column;
    padding-bottom:0px !important;
  }
  .card-button{
    padding-top: 12px;
    padding-bottom: 13px;
    margin-right:0px;
  } 
  .details{
    margin-left: 12px !important;
    width: 80%;
    font-size: clamp(8px, 0.6rem, 17px) !important;
  }
  .fcolumn{
    width:100%;
  }
  .conimg{
    width:25%;
  }
  .claim-top-text{
    width: 100%;
    justify-content: space-between;
  }
  .countdiv{
    display: none;
  }
  .claim-top-text-text{
    width: 100%;
  }
  .custom-scrollbar1, .custom-scrollbar2{
    width: 100%;
  
}
.r-btn{
  width: 100%;
}
}