.report-card-search {
    background-color: #2169ac;
    border-radius: 18px;
    width: clamp(200px, 30vw, 550px) !important;
    max-width: 500px;
    min-width: 200px;
    min-height: 130px;
    font-family: "Poppins, sans-serif";
    font-size: 12px;
    color: white;
    display: flex;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.inquire-button {
    width: clamp(90px, 10vw, 120px) !important;
}

@media (max-width:990px) {
    .search-results {
        justify-content: start !important;
    }

    .report-card-search {
        width: clamp(300px, 30vw, 420px) !important;
        max-width: 485px;
        min-width: 300px;
    }
}

@media (max-width:768px) {
    .search-results {
        justify-content: center !important;
    }

    .report-card-search {
        width: clamp(500px, 30vw, 420px) !important;
        max-width: 485px;
        min-width: 450px;
    }
}

@media (max-width:570px) {
    .report-card-search {
        width: clamp(300px, 30vw, 420px) !important;
        max-width: 485px;
        min-width: 400px;
    }

    .inquire-button {
        width: clamp(100px, 30vw, 420px) !important;
    }
}


@media (max-width:420px) {
    .report-card-search {
        width: clamp(300px, 30vw, 420px) !important;
        max-width: 485px;
        min-width: 310px;
    }

    .inquire-button {
        width: clamp(100px, 30vw, 420px) !important;
    }
}